@model Recipe


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/styleSheet/Recipe.css" rel="stylesheet" />
    <title>Add Recipe</title>
</head>
<body>
@await Html.PartialAsync("RecipeInputPartialView")    
</body>
</html>
