


<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <link href="~/styleSheet/Recipe.css" rel="stylesheet" />
    <title>Home</title>
</head>
<body>  
    <span><img src="~/images/a.jpg" /></span>
    <p>You can check the most updated recipes here, easy to practise and the results are delicious, just try it!
    </p>    
</body>
</html>
