header {
    padding: 5px;
    margin: 5px;
    border: thin none #454547;
    border-radius: 15px / 10px;
}

body {
    background-color: #d5f4e6;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

}
img{
    padding:5px;
}
a {
    padding: 10px;
    color: #808815;
    text-decoration: none;
}
li{
    line-height:25px;
}
#allPage{
    width:980px;
    margin-left:auto;
    margin-right:auto;
}

div {
    box-shadow: 5px 5px 5px #454547;
    width: 980px;
    margin:5px;
    border-radius: 15px;
    border: thin solid #454547;
    background-color: #FFFFDD;
    padding:5px;
}

h1 {
    padding: 5px;
    margin: 5px;
    text-transform: capitalize;
}

p {
    padding: 10px;
    margin: 10px;
}

table {
    padding: 5px;
    margin: 5px;
    border-spacing: 10px;
}

legend {
    text-transform: capitalize;
    padding: 5px;
    margin: 5px;
}



#button {
    box-shadow: 1px 1px 1px #E9EF98;
    background-color: #D4E038;
    border-radius: 5px;
    border: thin solid #000000;
    font-size: medium;
    font-weight: bold;
}

footer {
    padding: 5px;
    margin: 5px;
    font-size:11px;
}


form {
    margin: 5px;
    padding:5px;
}

h3 {
    margin: 1px 3px 5px 3px;
    padding: 3px;
}
